 /* Chatbot container styling */
 .chatbot-container {
  display: flex; /* Ensures the chatbot is always visible */
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
  
  .chatbot-header {
    background-color: transparent;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .chatbot-input {
    display: flex;
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .chatbot-input input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .chatbot-input button {
    background-color: #99ccff;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .chatbot-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .chatbot-icon i {
    color: white;
    font-size: 24px;
  }
